# Serverless directories
.serverless
package-lock.json

# golang output binary directory
bin

# golang vendor (dependencies) directory
vendor

# local creds and stuff
aws.env
*.aes

# dev tools metadata
.idea/
node_modules/

# terraform
*.tfstate
*.tfstate.backup
.terraform/
tfc-remote.tf
*.tfvars

# built app and zip package
bootstrap
idp-id-broker-search
idp-id-broker-search.zip
idp-id-broker-search.zip.sum
