AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

DOWNLOAD_BUCKET=idp-id-broker-search-us-east-1
DOWNLOAD_BUCKET2=idp-id-broker-search-us-west-2

# Used for tracking deployment in google Analytics
TRACKING_ID=
