AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1

DOWNLOAD_BUCKET=idp-id-broker-search-us-east-1

# second region, ensure terraform `var.aws_region_secondary` matches
AWS_REGION2=us-west-2
DOWNLOAD_BUCKET2=idp-id-broker-search-us-west-2

# Used for tracking deployment in google Analytics
GA_API_SECRET=aB-abcdef12345ABCD1234
GA_MEASUREMENT_ID=G-ABCDE12345
